[submodule "3rd-party/pdo-database-manager"]
	path = 3rd-party/pdo-database-manager
	url = https://github.com/cheeseburgames/pdo-database-manager.git
[submodule "3rd-party/Xhaleera-TwigTools"]
	path = 3rd-party/Xhaleera-TwigTools
	url = https://github.com/xhaleera/TwigTools/
[submodule "3rd-party/Twig"]
	path = 3rd-party/Twig
	url = https://github.com/twigphp/Twig/
	branch = 2.x
