@charset "UTF-8";

html,
body {
  height: 100%;
}

#mfx-profiler-bar {
  position: fixed;

  bottom: 0;
  left: 0;
  height: 40px;

  z-index: 10001;
}

#mfx-profiler-bar a {
  position: absolute;

  top: 4px;
  left: 4px;

  white-space: nowrap;
}

#mfx-profiler {
  display: none;

  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

#mfx-profiler pre {
  position: fixed;
  left: 50px;
  right: 50px;
  top: 50px;
  bottom: 15vh;
  color: white;
}

#mfx-profiler-chart {
  position: fixed;
  left: 50px;
  right: 50px;
  bottom: 50px;
  top: 20vh;
}

.mfx-hcenter,
.mfx-vcenter {
  position: absolute;
}

.mfx-invisible-at-start,
.invisible {
  display: none;
}
